@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrainsMono';  /* Choose a name for your font family */
  src: url('./assets/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');  /* Specify the path to your TTF file */
  font-weight: 1 1000;
}
@font-face {
  font-family: 'FiraCode';
  src: url('./assets/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 1000;
}
@font-face {
  font-family: 'FiraMono';
  src: url('./assets/Fira_Mono/FiraMono-Regular.ttf') format('truetype');
}
.jb-mono {
  font-family: 'JetBrainsMono';
}
.fira-code {
  font-family: 'FiraCode';
}
.fira-mono {
  font-family: 'FiraMono';
}